*{
  margin: 0;
  padding: 0;
  font-family: 'Overpass Mono', monospace;
  box-sizing: border-box;
}
body{
  height: 100vh;
  background-color: ghostwhite;
}
.App {
  max-width: 400px;
  min-height: 250px;
  background-color: white;
  border-radius: 15px 15px 0 0;
  margin: auto;
  margin-top: 3%;
  padding: 25px 0;
  box-shadow: 10px 10px 35px -10px rgba(0,0,0,.3)
}
.TodoInput{
  background-color: red;
  width: 80%;
  margin: auto;
}
.TodoInput input{
  height: 45px;
  width: 100%;
  outline: none;
  padding: 5px 10px;
  border-color: rgba(0,0,0,.3);
}